
<div class="login-wrapper">
<a class="back-button" href="/"><i class="fa-solid fa-arrow-left"></i> Back</a>
<%= link_to "/", class: "teki-login-image" do %>
      <%= image_tag "logos/teki writing wide blank.png" %>
<% end %>
<div class="login-page">
<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :username,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "username" }%>
    <%= f.input :avatar, as: :select,
                required: true,
                :collection => [["Cooool Cactus", "cool-cactus.png"], ["DOGE", "cool-doge.png"], ["Funky Duck", "cool-duck.png"], ["Coolest duck", "coolest-duck.jpg"]]%>
                <%# collection: [ "cool-emote.png", "cool-doge.png", "cool-cactus.png", "cool-duck.png"]%>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<div class="extras-login">
<%= render "devise/shared/links" %>
</div>
</div>
</div>
