<div class="sidebar" data-controller="sidebar" data-sidebar-target="sidebar" data-action="mouseover->sidebar#open mouseout->sidebar#close">
  <%= link_to "/", class: "sidebar-logo" do %>
    <%= image_tag "logos/teki writing blank.png" %>
  <% end %>
  <ul class="nav-list">
    <li>
      <%= link_to "/" do %>
        <i class="fa-solid fa-computer"></i>
        <span class="path_links">Link 1</span>
      <% end %>
    </li>
    <li>
      <%= link_to "/" do %>
        <i class="fa-solid fa-computer"></i>
        <span class="path_links">Link 2</span>
      <% end %>
    </li>
    <li>
      <%= link_to "/" do %>
        <i class="fa-solid fa-computer"></i>
        <span class="path_links">Link 3</span>
      <% end %>
    </li>
    <li>
      <%= link_to "/" do %>
        <i class="fa-solid fa-computer"></i>
        <span class="path_links">Link 4</span>
      <% end %>
    </li>
  </ul>
</div>
