<table class="leaderboard past-battles">
  <h2>Your Battles</h2>
  <tbody>
  <tr>
    <th>Opponent</th>
    <th>Date</th>
    <th>Rounds</th>
    <th>Points</th>
  </tr>
  <% unless current_user.latest_games.empty? %>
    <% current_user.latest_games.includes(:game_rounds).each do |b| %>
      <tr style='height: 40px;'>
        <td>
          <% if b.player_one == current_user %>
            <div class='d-flex align-items-center'>
              <%= link_to image_tag(b.player_two.avatar, height: '30px'), user_path(b.player_two)%>
              <p class='username-table'><%= link_to b.player_two.username, user_path(b.player_two)  %></p>
            </div>
          <% elsif b.player_two == current_user %>
            <div class='d-flex align-items-center'>
              <%= link_to image_tag(b.player_one.avatar, height: '30px'), user_path(b.player_one)%>
              <p class='username-table'><%= link_to b.player_one.username, user_path(b.player_one) %></p>
            </div>
          <% end %>
        </td>
        <td>
          <div>
            <%= b.updated_at.strftime('%d/%m/%y') %>
          </div>
        </td>
        <td>
          <div style='color: <%= b.game_winner == current_user.id ? '#20F596;' : 'red' %>;'>
            <%= b.game_rounds.where(winner_id: current_user.id).length %>/<%= b.game_rounds.length %>
          </div>
        </td>
        <td>
          <div style='color: <%= b.game_winner == current_user.id ? '#20F596;' : 'red;' %>'>
            <% if b.game_winner == current_user.id %>
              + <%= b.winner_score %>
            <% else %>
              - <%= b.loser_score %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>