<div class="dashboard-wrapper" data-controller="dashboard ninjaform friend"
                               data-friend-current-user-id-value="<%= current_user.id %>"
                               data-friend-player-one-ready-value="<%= false %>"
                               data-friend-player-two-ready-value="<%= false %>"
                               data-ninjaform-with-friend-value="<%= @with_friend %>">

  <div class="page-section dashboard-information">
    <div class="play-box">
      <button type="button" style="font-size:20px;" class="btn btn-main" data-toggle="modal" data-target="#roundChoice">
        Play
      </button>
    </div>
    <div class="right-side-user-info">
      <div class="d-flex">
        <%= image_tag current_user.avatar, height: '80' %>
        <h1><%= current_user.username %></h1>
      </div>
      <div class="dashboard-data">
        <h6>Score</h6>
        <span><%= current_user.score %></span>
      </div>
      <div class="dashboard-data">
        <h6>Total games</h6>
        <span><%= current_user.games_as_player_one.where.not(game_winner: nil).count + current_user.games_as_player_two.where.not(game_winner: nil).count %></span>
      </div>
    </div>
  </div>

  <div class="dashboard-lower">
    <div class="page-section" id="leaderboard-section">
      <h2>Leaderboard</h2>
      <table class="leaderboard">
        <tbody>
          <tr>
            <th>Position</th>
            <th>Player</th>
            <th>Score</th>
          </tr>
          <% count = 1 %>
          <% @users_ordered_by_score[0...10].each do |user| %>
            <tr class="leaderboard-user">
              <td>#<%= count %></td>
              <td>
              <%= link_to image_tag(user.avatar, height: '40'), user_path(user) %>
              <%= user.username %>
              </td>
              <td><%= user.score %></td>
            </tr>
            <% count += 1 %>
          <% end  %>
        </tbody>
      </table>
    </div>

    <div class="dashboard-lower-right">
      <div class="page-section">
        <h2 class="friends-title">Friends</h2>
        <div class="friendlist">
          <% @friends.each do |f| %>
            <div class="friend-div">
              <div><%= f.username %></div>
              <%= image_tag f.avatar, height: '40' %>
              <button class="btn btn-main btn-sm" <%= "disabled" unless f.online? %>
              data-action="click->friend#checking click->ninjaform#withFriend" data-value="<%= f.id %>"
              data-toggle="modal" data-target="#roundChoice">Battle</button>
            </div>
          <% end  %>
        </div>
      </div>
      <div class="page-section">
        <h2>Your Battles</h2>
        <table class="leaderboard">
          <tbody>
            <tr>
              <th>Opponent</th>
              <th>Date</th>
              <th>Rounds Won</th>
              <th>Points</th>
            </tr>
            <% if @latest_battles != nil %>
              <%= render "shared/latest_battles_table", battles: @latest_battles%>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

    <!-- Modals -->
  <%= render "shared/round_choice_modal" %>
  <%= render "shared/invite_modal" %>
  <%= render "shared/pre_game_modal" %>
  <%= render "shared/pre_game_ready_modal" %>

</div>
