<div class="dashboard-wrapper">
  <h1>Dashboard</h1>
  <div data-controller="dashtabs" class="mb-5 pb-5">
    <div>
      <ul class="list-inline tabs-underlined mb-5" >
        <li data-action="click->dashtabs#changeTab" data-dashtabs-target="dashtablink" class="tabs-underlined active" id="leaderboard">
          <span>Leaderboard</span>
        </li>
        <li data-action="click->dashtabs#changeTab" data-dashtabs-target="dashtablink" class="tabs-underlined" id="friendslist">
          <span>Friends</span>
        </li>
      </ul>

      <div data-dashtabs-target="dashtabcontent friendslist" data-find-friends-target="findfriendstabcontent friendslist">
        <div class="dashboard_friendslist">
          <h2>Friendslist</h2>
          <table>
            <tbody>
              <tr>
                <th>N°</th>
                <th>Username</th>
                <th>Avatar</th>
              </tr>
              <% count = 1 %>
              <% @friendships.each do |f| %>
                <tr>
                  <td>#<%= count %></td>
                  <td>
                    <div><%= f.receiver.username %></div>
                  </td>
                  <td>
                    <%= link_to image_tag(f.receiver.avatar, height: '40'), user_path(f.receiver)%>
                  </td>
                </tr>
                <% count += 1 %>
              <% end  %>
            </tbody>
          </table>
        </div>
      </div>

      <div data-dashtabs-target="dashtabcontent leaderboard" data-find-friends-target="findfriendstabcontent friendslist">
        <div class="dashboard_leaderboard">
          <h2>Leaderboard</h2>
          <table>
            <tbody>
              <tr>
                <th>Position</th>
                <th>User</th>
                <th>Score</th>
              </tr>
              <% count = 1 %>
              <% @users_ordered_by_score.each do |user| %>
                <tr>
                  <td>#<%= count %></td>
                  <td>
                  <div><%= image_tag(user.avatar, height: '40') %></div>
                  <div><%= user.username %></div>
                  </td>
                  <td><%= user.score %></td>
                </tr>
                <% count += 1 %>
              <% end  %>
            </tbody>
          </table>
          <%= link_to "Start game",  new_user_game_path(current_user), class: "btn btn-main" %>
        </div>
      </div>
  </div>
  </div>
</div>
