<div class="dashboard-wrapper" data-controller="dashboard">
  <div class="page-section dashboard-information">
    <div class="d-flex">
      <%= image_tag(current_user.avatar, height: '100') %>
      <h2><%= current_user.username %></h2>
    </div>
    <div class="dashboard-data">
      <h6>Score </h6>
      <span><%= current_user.score %></span>
    </div>
    <div class="dashboard-data">
      <h6>Total games </h6>
      <span><%= current_user.games_as_player_one.count + current_user.games_as_player_two.count %></span>

    </div>
  </div>
  <div class="dashboard-buttons">
    <%= link_to "Train in ghost mode", dashboard_path, class: "btn btn-main" %>

    <%# Below is the original button to go to the waiting path in case you need to use it instead of modal %>

    <%# <%= link_to "Battle to earn points",  waiting_path, class: "btn btn-main" %>
    <button type="button" class="btn btn-main" data-toggle="modal" data-target="#exampleModalCenter">
      Battle to earn points
    </button>
  </div>

  <!-- Modal -->
  <div class="modal fade round-choice-modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content round-choice-modal-content">
        <div class="modal-header round-choice-modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Number of rounds</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body round-choice round-choice-modal-body">
            <%= simple_form_for [current_user, @game] do |f| %>
                <%= f.input :round_count, as: :radio_buttons, collection: [[1, 'ðŸ¥·ðŸ»'], [3, "ðŸ¥·ðŸ»ðŸ¥·ðŸ»ðŸ¥·ðŸ»"], [5, "ðŸ¥·ðŸ»ðŸ¥·ðŸ»ðŸ¥·ðŸ»ðŸ¥·ðŸ»ðŸ¥·ðŸ»"]], label_method: :second, value_method: :first, label: '', class: 'form-check-inline' %>
        </div>
        <div class="modal-footer round-choice-modal-footer">
          <%= f.submit "Battle!", class: 'btn btn-main' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="dashboard-lower">
    <div class="page-section ">
      <h2>Leaderboard</h2>
      <table class="leaderboard">
        <tbody>
          <tr>
            <th>Position</th>
            <th>Player</th>
            <th>Score</th>
          </tr>
          <% count = 1 %>
          <% @users_ordered_by_score.each do |user| %>
            <tr class="leaderboard-user">
              <td>#<%= count %></td>
              <td>
              <%= image_tag(user.avatar, height: '40') %>
              <%= user.username %>
              </td>
              <td><%= user.score %></td>
            </tr>
            <% count += 1 %>
          <% end  %>
        </tbody>
      </table>
    </div>
    <div class="dashboard-lower-right">
      <div class="page-section">
        <h2>Friendslist</h2>
        <table>
          <tbody>
            <tr>
              <th>NÂ°</th>
              <th>Username</th>
              <th>Avatar</th>
            </tr>
            <% count = 1 %>
            <% @friendships.each do |f| %>
              <tr>
                <td>#<%= count %></td>
                <td>
                  <div><%= f.receiver.username %></div>
                </td>
                <td>
                  <%= link_to image_tag(f.receiver.avatar, height: '40'), user_path(f.receiver)%>
                </td>
              </tr>
              <% count += 1 %>
            <% end  %>
          </tbody>
        </table>
      </div>
      <div class="page-section">
        <h2>Latest battles</h2>
        <table class="leaderboard">
          <tbody>
            <tr>
              <th>Game</th>
              <th>Rounds Won</th>
              <th>Points</th>
            </tr>
            <% if @latest_battles != nil %>
            <%= render "shared/latest_battles_table", battles: @latest_battles%>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
