<div class="dashboard-wrapper" data-controller="dashboard ninjaform friend"
                               data-friend-current-user-id-value="<%= current_user.id %>"
                               data-friend-player-one-ready-value="<%= false %>"
                               data-friend-player-two-ready-value="<%= false %>"
                               data-ninjaform-with-friend-value="<%= false %>">

  <div class="page-section dashboard-information">
    <div class="play-box">
      <button type="button" style="font-size:20px;" class="btn btn-main" data-toggle="modal" data-target="#roundChoice">
        Play
      </button>
    </div>
    <div class="right-side-user-info">
      <div class="d-flex image-and-name">
        <div class="user-image">
          <%= image_tag current_user.avatar, height: '80' %>
        </div>
        <h1 id="game-show-username"><%= current_user.username %></h1>
      </div>
      <div class="dashboard-data-parent">
        <div class="dashboard-data">
          <h6>Score</h6>
          <span><%= current_user.score %></span>
        </div>
        <div class="dashboard-data">
          <h6>Games</h6>
          <span><%= current_user.games_count %></span>
        </div>
      </div>
    </div>
  </div>

  <div class="dashboard-lower">

    <div class="dashboard-lower-left page-section" id="leaderboard-section">
      <%= render "leaderboard" %>
    </div>

    <div class="dashboard-lower-right">
      <div class="page-section" id="friends-section">
        <%= render 'friends' %>
      </div>
      <div class="page-section">
        <%= render "latest_battles_table" %>
      </div>
    </div>
  </div>

    <!-- Modals -->
  <%= render "shared/round_choice_modal" %>
  <%= render "shared/invite_modal" %>
  <%= render "shared/pre_game_modal" %>
  <%= render "shared/pre_game_ready_modal" %>

</div>
