<div class="banner" style="background-image: linear-gradient(rgba(22,23,27,1),rgba(22,23,27,0)), linear-gradient(to top, rgba(22,23,27,1),rgba(22,23,27,0)), url(https://images.unsplash.com/photo-1556244573-c3686c0f0e78?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80);">

  <div class="lp-navbar">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "logos/teki writing wide blank.png" %>
    <% end %>
    <div>
      <%= link_to "Login", new_user_session_path, class: "btn btn-second" %>
    </div>
  </div>
  <div class="container" id="lp-main-content">
    <div class="mb-5" style="height: 20px"><h1 data-controller="typed-js"></h1></div>
    <p>Improve your coding skills by playing against other developers, with our extensive range of coding challenges. Join our community and become a Teki warrior. </p>
    <a class="btn btn-main" href="/users/sign_up">Start battling!</a>
  </div>
</div>
<div data-controller="lp-cards" data-action="scroll@window->lp-cards#changeOpacity">
  <div class="lp-card ">
    <div class="lp-card-container" data-lp-cards-target = "card">
      <%= image_tag "dashboard-example.png", class: 'lp-card-container-image' %>
      <div class="lp-card-container-text lp-text-left">Invite friends or colleagues and create a leaderboard, so you can see who really is the king of coders!</div>
    </div>
  </div>

  <div class="lp-card lp-card-right">
    <div class="lp-card-container" data-lp-cards-target = "card">
      <%= image_tag "game-show-example.png", class: 'lp-card-container-image' %>
      <div class="lp-card-container-text lp-text-left">Play against other developers in either a one, three or five round game, challenging yourself with our amazing selection of challenges.</div>
    </div>
  </div>

  <div class="lp-card ">
    <div class="lp-card-container" data-lp-cards-target = "card">
      <%= image_tag "teki-community-example.png", class: 'lp-card-container-image' %>
      <div class="lp-card-container-text lp-text-left">Become a part of Teki's thriving community and have fun!</div>
    </div>
  </div>
</div>
