<%# Gets all the info from the game model to update in game_subscription stimulus %>
<div class="game-show-container"
  data-controller="game-subscription challenge-instructions"

  data-game-subscription-game-id-value="<%= @game.id %>"
  data-game-subscription-user-id-value="<%= current_user.id %>"
  data-game-subscription-player-one-id-value="<%= @game.player_one.id %>"
  data-game-subscription-player-two-id-value="<%= @game.player_two.id %>"
  data-game-subscription-update-url="<%= game_path(@game) %>"
  data-game-subscription-loaded-value="<%= false %>"
  data-game-subscription-rounds-value="<%= @rounds %>"
  data-game-subscription-game-round-method-value="<%= @rounds_left.challenge.method_template %>">
  <h3> <%= @action_users_connected %> </h3>

  <div data-game-subscription-target="roundWinnerModal" id="roundWinnerModal" class="round-winner-modal">
    <div data-game-subscription-target="roundWinnerModalContent" class="round-winner-modal-content">
      <span class="round-winner-modal-close">&times;</span>
      <p data-game-subscription-target="roundWinner"></p>
      <div class="tally-container">
        <div>
          <p ><%= @game.player_one.username %> Wins:</p>
          <p data-game-subscription-target="roundWinnerCountp1"></p>
        </div>
        <div>
          <p><%= @game.player_two.username %> Wins:</p>
          <p data-game-subscription-target="roundWinnerCountp2"></p>
        </div>
      </div>
      <button data-action="click->game-subscription#nextRound">Next Round</button>
    </div>
  </div>

  <div data-game-subscription-target="gameWinnerModal" id="gameWinnerModal" class="game-winner-modal">
    <div class="game-winner-modal-content">
      <span class="game-winner-modal-close">&times;</span>
      <p data-game-subscription-target="gameWinner"></p>
      <button data-action="click->game-subscription#endGame">Back to Dashboard</button>
    </div>
  </div>
  
    <div class="user-codebox" id="user-codebox-1" data-action="keyup->game-subscription#playerTyping">
      <div class="user-details">
        <div><%= image_tag(@game.player_one.avatar, class: "user-avatar") %></div>
        <h2 class="user-name"><%= @game.player_one.username %></h2>
      </div>
      <textarea data-game-subscription-target="editorone"></textarea>
      <div class="code-submit-buttons">
        <button id="playerOneClear" class="code-submit" data-action="click->game-subscription#clearPlayerOneSubmission">Clear</button>
        <div class="right-buttons">
          <button id="playerOneTest" class="code-submit">Test</button>
          <button id="playerOneSubmit" class="code-submit" data-action="click->game-subscription#playerOneSubmission click->challenge-instructions#showTests">Submit</button>
        </div>
      </div>
    </div>


  <div class="game-round-instructions-and-tests-boxes">
    <div class="buttons-group">
      <button id="description" data-challenge-instructions-target="button" data-action="click->challenge-instructions#changeTab" class="active">Instructions</button>
      <button id="tests" data-challenge-instructions-target="button testsButton" data-action="click->challenge-instructions#changeTab">Tests</button>
    </div>
    <div class="game-round-instructions" data-challenge-instructions-target="description content">
      <p><%= @rounds_left.challenge.description %></p>
    </div>
    <div class="game-round-tests d-none" data-challenge-instructions-target="tests content">
      <p data-game-subscription-target="output">Awaiting code submission</p>
    </div>
  </div>

  <div class="user-codebox" id="user-codebox-2" data-action="keyup->game-subscription#playerTyping">
    <div class="user-details">
      <div><%= image_tag(@game.player_two.avatar, class: "user-avatar") %></div>
      <h2 class="user-name"><%= @game.player_two.username %></h2>
    </div>
    <textarea data-game-subscription-target="editortwo"></textarea>
    <div class="code-submit-buttons">
      <button id="playerTwoClear" class="code-submit" data-action="click->game-subscription#clearPlayerTwoSubmission">Clear</button>
      <div class="right-buttons">
        <button id="playerTwoTest" class="code-submit">Test</button>
        <button id="playerTwoSubmit" class="code-submit" data-action="click->game-subscription#playerTwoSubmission click->challenge-instructions#showTests">Submit</button>
      </div>
    </div>
  </div>
</div>
