<%# <div class="container"
     data-controller="game-subscription"
     data-game-subscription-game-id-value="<%= @game.id %>
     <%# data-game-subscription-user-id-value="<%= current_user.id %>
  <%# <% @game.game_rounds.each do |round| %>
    <%# <p><%= round.challenge.description %>
  <%# <% end %>

  <%# <textarea id="editor"></textarea> %>
<%# </div> %>

<%# <div class="container"> %>
  <%# @game.game_rounds.each do |round| %>
    <%# <p>= round.challenge.description</p> %>
  <%# end %>
<%# </div> %>


  <%# Gets all the info from the game model to update in game_subscription stimulus %>
<div class="game-show-container"
     data-controller="game-subscription"
     data-game-subscription-game-id-value="<%= @game.id %>"
     data-game-subscription-user-id-value="<%= current_user.id %>"
     data-game-subscription-player-one-id-value="<%= @game.player_one.id %>"
     data-game-subscription-player-two-id-value="<%= @game.player_two.id %>"
     data-game-subscription-update-url="<%= game_path(@game) %>">

  <div class="game-show-container" data-controller="solution">

    <div class="user-codebox">
      <textarea id="editor-one"></textarea>
      <div class="code-submit" id="playerOneSubmit"></div>
    </div>

    <div class="game-round-instructions-and-tests-boxes">
      <div class="game-round-instructions">
        <p><%= @game.game_rounds.first.challenge.description %></p>
      </div>
      <div class="game-round-tests"></div>
    </div>

    <div class="user-codebox">
      <textarea id="editor-two"></textarea>
      <div class="code-submit" id="playerTwoSubmit"></div>
    </div>
  </div>
</div>
