
<div class="login-wrapper">
<a class="back-button"  href="/"><i class="fa-solid fa-arrow-left"></i> Back</a>
<%= link_to "/", class: "teki-login-image" do %>
      <%= image_tag "logos/teki writing wide blank.png" %>
<% end %>

<div class="login-page">
<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>

  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>

<div class="extras-login">
<%= render "devise/shared/links" %>
</div>
</div>
</div>
